.img-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.img-wrapper > span {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #4285f4;
}

.input-bar {
    position: relative;
}

.loupe-img {
    display: flex;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 1vw;
    top: 1.5vh;
}

.loupe-img:focus {
    outline: none;
}